#header .util .dark-mode-toggle {
  position: relative;
  float: left;
  margin-left: 10px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 50%;
  background-color: #fff;
  color: #333;
  transition: all 0.3s;
}
#header .util .dark-mode-toggle:hover {
  background-color: #d4d4d4;
}

body.dark-mode {
  background-color: #1E1E1E !important;
  color: #D4D4D4 !important;
}

body.dark-mode html,
body.dark-mode #wrap,
body.dark-mode #container,
body.dark-mode #content,
body.dark-mode #aside {
  background-color: #1E1E1E !important;
}

body.dark-mode #header {
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

body.dark-mode #header,
body.dark-mode #footer {
  border-color: #333333 !important;
  background-color: #1E1E1E;
}
body.dark-mode #container .content-wrap:before {
  background-color: #333333 !important;
}

body.dark-mode #header h1 a {
  color: #70A379 !important;
}
body.dark-mode #header h1 {
  color: #d4d4d4 !important;
}
body.dark-mode #header .util .search:before,
body.dark-mode #header .util .search button,
body.dark-mode #header .util .profile button,
body.dark-mode .dark-mode-toggle {
  border-color: #333333 !important;
  background-color: #1E1E1E !important;
}
body.dark-mode .dark-mode-toggle i {
  color: #d4d4d4 !important;
}
body.dark-mode #header .util .profile nav ul li a {
  background-color: #1E1E1E;
  border-color: #333333;
  color: #a1a1a1;
}
body.dark-mode #header .util .profile nav ul li a:hover {
  background-color: #333333;
  color: #d4d4d4;
}

body.dark-mode a,
body.dark-mode a:link,
body.dark-mode a:visited {
  color: #D4D4D4 !important;
}
body.dark-mode h1, body.dark-mode h2, body.dark-mode h3, body.dark-mode h4, body.dark-mode h5, body.dark-mode h6 {
  color: #d4d4d4 !important;
}
body.dark-mode .cover-thumbnail-1 h2,
body.dark-mode .cover-thumbnail-2 h2,
body.dark-mode .cover-thumbnail-3 h2 {
  color: #D4D4D4 !important;
}

body.dark-mode pre,
body.dark-mode code {
  background-color: #333333 !important;
  border: 1px solid #444444 !important;
  color: #D4D4D4 !important;
}
body.dark-mode blockquote {
  border-left-color: #70A379 !important;
  background-color: #1E1E1E;
}

body.dark-mode .cover-thumbnail-2 h2,
body.dark-mode .cover-thumbnail-2 .more,
body.dark-mode .list-type-text .post-header {
  border-color: #333333 !important;
}
body.dark-mode .cover-thumbnail-1 ul li .date,
body.dark-mode .cover-thumbnail-2 ul li .meta,
body.dark-mode .cover-thumbnail-2 ul li .excerpt {
  color: #a1a1a1;
}

body.dark-mode input[type=text]:not(#search),
body.dark-mode textarea {
  background-color: #333333 !important;
  border-color: #555555 !important;
  color: #D4D4D4 !important;
}
body.dark-mode input::placeholder {
  color: #777 !important;
}

body.dark-mode .sidebar .count .total {
  color: #70A379 !important;
}

body.dark-mode #tistorySidebarProfileLayer,
body.dark-mode .profile-con {
  color: #D4D4D4 !important;
}

body.dark-mode .profile-nick strong {
  color: #70A379 !important;
}

body.dark-mode .profile-nick span {
  color: #a1a1a1 !important;
}

body.dark-mode .custom-profile-photo {
  border: 1px solid #333333 !important;
}

body.dark-mode .module_plugin {
  background-color: #1E1E1E !important;
}

body.dark-mode .tt_category .link_tit {
  color: #70A379 !important;
}

body.dark-mode #menubar_wrapper .btn_tool_type1 {
  background-color: #1E1E1E !important;
}
body.dark-mode #menubar_wrapper .btn_menu_toolbar .ico_tistory_sign {
  filter: invert(80%);
}

body.dark-mode .layer_profile {
  background-color: #1E1E1E !important;
  border: 1px solid #333333 !important;
}

body.dark-mode .layer_profile .txt_id,
body.dark-mode .layer_profile .txt_email,
body.dark-mode .layer_profile .link_setting,
body.dark-mode .layer_profile .tit_list_type {
  color: #D4D4D4 !important;
}

body.dark-mode .layer_profile .list_toolbar li a {
  color: #A1A1A1 !important;
}
body.dark-mode .layer_profile .list_toolbar li a:hover {
  background-color: #333333 !important;
  color: #D4D4D4 !important;
}

body.dark-mode .layer_profile .info_profile_type1 .txt_id {
  color: #70A379 !important;
}
body.dark-mode .layer_profile .info_profile_type1 .link_edit,
body.dark-mode .layer_profile .info_profile_type1 .link_setting {
  filter: invert(80%);
  opacity: 0.8;
}

body.dark-mode #menubar_wrapper .btn_menu_toolbar {
  background-color: #1E1E1E !important;
  border: 1px solid #333;
}

body.dark-mode #menubar_wrapper .btn_menu_toolbar .ico_tistory_sign {
  filter: invert(80%);
}

body.dark-mode #footer .page-top {
  background-color: #1E1E1E !important;
  background: #fafafa url(./images/ico_package.png) no-repeat -100px -200px;
  border: 1px solid #333 !important;
}

body.dark-mode #footer .page-top:focus,
body.dark-mode #footer .page-top:hover {
  background-color: #333333 !important;
}

body.dark-mode .post-header h1 em {
  color: #70A379 !important;
}

body.dark-mode .entry-content p:not(pre *),
body.dark-mode .entry-content span:not(pre *),
body.dark-mode .entry-content strong:not(pre *),
body.dark-mode .entry-content b:not(pre *),
body.dark-mode .entry-content li:not(pre *) {
  color: #D4D4D4 !important;
}

body.dark-mode .entry-content span[style*="color: #000000"]:not(pre *),
body.dark-mode .entry-content span[style*="color: rgb(0, 0, 0)"]:not(pre *) {
  color: #D4D4D4 !important;
}

.entry-content a {
  color: #214726 !important;
}

body.dark-mode .entry-content a {
  color: #70A379 !important;
}

body.dark-mode .tt-comment-cont .tt-btn_register {
  background-color: #70A379 !important;
  color: #fff !important;
  border-color: #70A379 !important;
}

body.dark-mode .tt-comment-cont .tt-btn_register:hover,
body.dark-mode .tt-comment-cont .tt-btn_register:focus {
  background-color: #5b8f64 !important;
  border-color: #5b8f64 !important;
}

body.dark-mode .tt-comment-cont .tt_txt_user {
  color: #D4D4D4 !important;
}

body.dark-mode .postbtn_like {
  border-color: #333333 !important;
}

body.dark-mode .postbtn_like .txt_like {
  color: #D4D4D4 !important;
}

body.dark-mode .tags h2 {
  color: #d4d4d4 !important;
}

body.dark-mode .tags a {
  color: #999 !important;
  border: 1px solid #333 !important;
}

body.dark-mode .tt-box-total {
  border-bottom: 1px solid #333333 !important;
}

.tt-inner-g {
  border-color: #e9e9e9 !important;
}

.tt-box-textarea:hover .tt-inner-g {
  border-color: #e9e9e9 !important;
}

body.dark-mode .tt-inner-g {
  border-color: #333333 !important;
}

body.dark-mode .tt-box-textarea:hover .tt-inner-g {
  border-color: #333333 !important;
}

body.dark-mode .tt-cmt {
  color: #D4D4D4 !important;
  caret-color: #D4D4D4 !important;
}

body.dark-mode .sub_category_list .link_sub_item {
  color: #A1A1A1 !important;
}

body.dark-mode .sub_category_list .link_sub_item .c_cnt {
  color: #A1A1A1 !important;
}

body.dark-mode .sidebar .category ul li ul li ul li:before {
  background-color: #333333 !important;
}

body.dark-mode .sidebar .sidebar-2 {
  border-top: 1px solid #333333 !important;
}

body.dark-mode .cover-event ul li a {
  border-color: #333333 !important;
}

body.dark-mode .cover-thumbnail-2 ul li figure img {
  border-color: #333333 !important;
}

body.dark-mode .cover-thumbnail-2 ul li figure img {
  border-color: #333333 !important;
}

body.dark-mode .pagination .prev,
body.dark-mode .pagination .next {
  filter: invert(80%);
}

body.dark-mode .pagination .selected {
  color: #70A379 !important;
}

body.dark-mode .pagination a span {
  color: #A1A1A1 !important;
}

.pagination .selected {
  color: #214726 !important;
}

.profile-mail-link {
  cursor: pointer;
  text-decoration: none;
}

body.dark-mode .profile-mail-link {
  color: inherit;
}

@media screen and (max-width: 767px) {
  body.dark-mode #header .util .menu {
    filter: invert(80%);
  }
  body.dark-mode #header h1 {
    background-color: #1E1E1E !important;
  }
  body.dark-mode #aside .close {
    filter: invert(80%);
  }

  #header .util .dark-mode-toggle {
    display: block !important;
    position: absolute;
    top: 24px;
    right: 64px;
    z-index: 300;
    font-size: 1.2em;
  }

  body.dark-mode #header .util .dark-mode-toggle {
    border-color: #333333 !important;
    background-color: #1E1E1E !important;
  }
}

body.dark-mode .my_edit .layer_edit {
  background-color: #1E1E1E !important;
  border-color: #333333 !important;
  box-shadow: none !important;
  color: #D4D4D4 !important;
}

body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

#header,
#footer,
#container .content-wrap:before {
  transition: background-color 0.5s ease, border-color 0.5s ease;
}

a,
a:link,
a:visited,
.entry-content p,
.entry-content span,
.entry-content strong,
.entry-content b,
.entry-content li {
  transition: color 0.5s ease, background-color 0.5s ease;
}

button,
.btn_post,
.dark-mode-toggle,
.pagination .prev,
.pagination .next,
.tt-btn_register {
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease, filter 0.5s ease;
}

input[type=text],
textarea,
pre,
code,
blockquote {
  transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
}