.category {
  max-width: 85% !important;
  margin-left: 0 !important;
  margin-right: auto !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

.tt_category .link_tit {
  font-size: 1.15em !important;
  font-weight: bold !important;
  color: #214726 !important;
}

.tt_category .category_list > li > .link_item {
  font-size: 1.1em !important;
}

.tt_category .link_sub_item {
  font-size: 1.05em !important;
}

.tt_category .category_list > li.has-sub > .link_item {
  position: relative;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.tt_category .category_list > li.has-sub {
  position: relative;
  display: block;
  margin-bottom: 5px;
}

.category-toggle-btn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  line-height: 1;
  color: #888;
  z-index: 5;
  transition: transform 0.3s;
}

.tt_category .category_list > li.opened {
  display: block;
}

.category-toggle-btn.opened i {
  transform: rotate(180deg);
}